/* --- //SKILLS// ---- */

/* --- //animation// --- */
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/* Positions */

.position1 {
  left: 0%;
  top: 2%;
}

.position2 {
  left: 20%;
  top: 20%;
}

.position3 {
  left: 10%;
  top: 40%;
}

.position4 {
  left: 40%;
  top: 3%;
}

.position5 {
  left: 70%;
  top: 50%;
}

.position6 {
  left: 50%;
  top: 50%;
}

.position7 {
  left: 75%;
  top: 50%;
}

.position8 {
  left: 10%;
  top: 45%;
}

.position9 {
  left: 82%;
  top: 2%;
}

.position10 {
  left: 58%;
  top: 30%;
}
