/* ---Variables--- */
:root {
  --color-primary1: hsl(259, 58%, 51%);
  --color-primary2: hsl(253, 80%, 71%);
  --color-gradient: linear-gradient(135deg, var(--color-primary1), var(--color-secondary1));
  --color-gradient-prim-black: linear-gradient(135deg, var(--color-neutral1) 25%, var(--color-primary2));
  --color-gradient3: linear-gradient(135deg, var(--color-secondary2) 40%, var(--color-secondary1));
  --color-secondary1: #fff5e7;
  --color-secondary2: #f3c69d;
  --color-accent1: hsl(207, 72%, 55%);
  --color-accent2: hsl(305, 58%, 34%);
  --color-neutral1: hsl(0, 0%, 3%);
  --color-neutral2: hsl(120, 19%, 94%, 0.35);

  /* ---- //Fonts Variables (Custom Properties// ----- */
  --font-headings: "Space Grotesk", sans-serif;
  --font-copy-text: "Poppins", sans-serif;
}
/* ---Reset--- */

body,
p,
a,
ul,
li {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
}

/* ---Basic Style--- */
* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* ---fonts--- */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* Display Space Grotesk 51px 3.188rem*/
h1 {
  font: 2.375rem var(--headings);
}
h2 {
  font: 1.75rem var(--headings);
}
h3 {
  font: 1.312rem var(--headings);
}

/* --- 320px mobil first style--- */
header {
  max-width: 100%;
  /* background: radial-gradient(ellipse at bottom, #6241d8 7.81%, #a273c9 90.1%); */
  background: var(--color-gradient-prim-black);
  height: 100vh;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.5, 0.1);
}
header:hover {
  background: linear-gradient(#6241d8 7.81%, #a273c9 90.1%);
}
.karinaSVG {
  background: url(../images/KarinaValens.png) no-repeat center;
  background-size: contain;
  max-width: 60%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
.skills {
  font: bold 1rem var(--font-headings);
}
#ux_ui {
  color: var(--color-accent1);
}
#front_end {
  color: var(--color-accent2);
}
#mult_designer {
  color: var(--color-secondary2);
}
/* ----NAVIGATION---- */

/* ----Burger Menu */
nav {
  margin: 4rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burgerMenu {
  display: flex;
  flex-direction: column;
  position: relative;
}

#burgerMenu span {
  display: block;
  width: 35px;
  height: 6px;
  background-color: var(--hightLight);
  margin: 8px;
  transition: all 0.2s;
  transform-origin: 50% 50%;
}

#burgerMenu span:nth-child(2),
#burgerMenu span:nth-child(3) {
  position: absolute;
  top: 11px;
}

.open span:first-child {
  transform: translateY(10px);
  opacity: 0;
}
.open span:nth-child(2) {
  transform: rotate(45deg);
}
.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.open#burgerMenu span:nth-child(2),
.open#burgerMenu span:nth-child(3) {
  transition-delay: 2s;
}
.open span:last-child {
  transform: translateY(-11px);
  opacity: 0;
}
/* -----Nav Bar----- */
#logo {
  max-width: 60px;
}
#navigation {
  position: absolute;
  width: 100%;
  right: -40rem;
  top: 8rem;
  z-index: 10;
  background-color: var(--white);
  height: calc(100vh - 80px);
  /* animating the navigation bar */
  transition: transform 1s;
}
#navigation.open {
  transform: translateX(-40rem);
}

nav a {
  margin-top: 2vh;
  font: bold 1rem var(--font-headings);
  display: block;
  padding: 7% 5%;
  max-width: 100%;
  margin-bottom: 1rem;
  color: var(--color-secondary1);
  /* animating the hover color change */
  transition: color, background-color 0.2s 0.1s;
}
nav a:hover {
  color: var(--white);
  background-color: var(--hightLight);
}
nav .active {
  color: var(--primaryColor);
}
.icon {
  max-width: 4rem;
}
/* ---Media Queries--- */

/* small tablet styles */
@media screen and (min-width: 620px) {
  header {
    height: auto;
  }

  #burgerMenu {
    display: none;
  }
  nav {
    margin: 1%;
  }
  nav li {
    flex: 0 1 20%;
    text-align: center;
  }
  #navigation {
    position: relative;
    right: auto;
    top: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* destop styles */
@media screen and (min-width: 1200px) {
}
