/* ---Variables--- */
:root {
  --color-primary1: hsl(259, 71%, 32%);
  --color-primary2: hsl(253, 66%, 55%);
  --color-gradient: linear-gradient(135deg, var(--color-primary1), var(--color-secondary1));
  --color-gradient-prim-black: linear-gradient(135deg, var(--color-neutral1) 25%, var(--color-primary2));
  --color-secondary1: hsl(35, 100%, 95%);
  --color-secondary2: hsl(29, 78%, 78%);
  --color-accent1: hsl(17, 72%, 55%);
  --color-accent2: hsl(305, 58%, 34%);
  --color-neutral1: hsl(0, 0%, 3%);
  --color-neutral2: hsl(120, 19%, 94%, 0.35);

  /* ---- //Fonts Variables (Custom Properties// ----- */
  --font-headings: "Space Grotesk", sans-serif;
  --font-copy-text: "Poppins", sans-serif;
}
/* ---Reset--- */

body,
p,
a,
ul,
li,
h3 {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
}
body {
  overflow-x: hidden;
}

/* ---Basic Style--- */
* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* ---fonts--- */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* Display Space Grotesk 51px 3.188rem*/
h1 {
  font: bold 2rem/1rem var(--font-headings);
  color: var(--color-accent2);
  padding: 0.8rem;
  grid-column: 1/-1;
  text-align: center;
}
#homepage-h1 {
  visibility: hidden;
}
h2 {
  font: bold 1.75rem var(--font-headings);
  color: var(--color-primary1);
}
h3 {
  font: bold 1.312rem var(--font-headings);
}

p {
  font: 1rem/1.5rem var(--font-copy-text);
}

/* --- 320px mobil first style--- */
header {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  background: var(--color-gradient-prim-black);
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.5, 0.1);
  margin-bottom: 2rem;
}
header:hover {
  background: linear-gradient(#6241d8 7.81%, #a273c9 90.1%);
}
#karinaSVG {
  position: relative;
  grid-column: 2/3;
  background: url(../images/KarinaValens.png) no-repeat center;
  background-size: contain;
  max-width: calc(65% + 15px);
  aspect-ratio: 1/1.3;
  margin: 2rem auto;
}
.skills {
  font: bold 1rem var(--font-headings);
  display: inline-block;
  position: absolute;
  top: -10;
  left: 0;
}

#ux_ui {
  color: var(--color-accent1);
}
#front_end {
  color: var(--color-accent2);
}
#mult_designer {
  color: var(--color-secondary2);
}

/* ----NAVIGATION---- */

/* ----Burger Menu */
nav {
  grid-column: 2/3;
  margin: 2rem auto 0.1rem;
  display: flex;
  place-items: center;
  gap: 8rem;
}

#burgerMenu {
  display: flex;
  flex-direction: column;
  position: relative;
}

#burgerMenu span {
  display: block;
  width: 35px;
  height: 6px;
  background-color: var(--color-secondary1);
  margin: 8px;
  transition: all 0.2s;
  transform-origin: 50% 50%;
}

#burgerMenu span:nth-child(2),
#burgerMenu span:nth-child(3) {
  position: absolute;
  top: 11px;
}

.open span:first-child {
  transform: translateY(10px);
  opacity: 0;
}
.open span:nth-child(2) {
  transform: rotate(45deg);
}
.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.open#burgerMenu span:nth-child(2),
.open#burgerMenu span:nth-child(3) {
  transition-delay: 2s;
}
.open span:last-child {
  transform: translateY(-11px);
  opacity: 0;
}
/* -----Nav Bar----- */
.logo {
  max-width: 60px;
}
#navigation {
  position: absolute;
  width: 100%;
  right: -40rem;
  top: 6rem;
  z-index: 6;
  background-color: var(--color-secondary1);
  /* animating the navigation bar */
  transition: transform 1s;
}
#navigation.open {
  transform: translateX(-40rem);
}
#projects-btn:hover {
  background: linear-gradient(135deg, var(--color-primary2), var(--color-secondary1));
}
nav a {
  font: bold 1rem var(--font-headings);
  display: block;
  padding: 7% 5%;
  max-width: 100%;
  color: var(--color-primary1);
  /* animating the hover color change */
  transition: color, background-color 0.2s 0.1s;
}
nav a:hover {
  color: var(--color-secondary1);
  background: linear-gradient(135deg, var(--color-primary2), var(--color-secondary1));
  box-shadow: 0 0 8px 0 hsla(0, 0%, 0%, 0.369);
  border-radius: 3px;
}
nav .active {
  color: var(--primaryColor);
}

/* ---------------- //KARINA TITLE// ----------- */
#karina_title {
  grid-column: 2/3;
  grid-row: 3;
  margin-bottom: -3rem;
  position: absolute;
  z-index: 6;
  place-self: center;
  width: 150px;
  margin: auto;
  border: 1px solid var(--color-secondary1);
  background: var(--color-neutral2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 3px;
}
#name,
#last-name {
  margin: 0;
  padding: 0.8rem;
  font: bold calc(1rem + 5px) / calc(1.5rem + 5px) var(--font-headings);
}
#name {
  text-align: left;
}
#last-name {
  padding-left: 3.4rem;
  margin-top: -2.5rem;
}
#letter-a {
  font: bold 3rem/1rem var(--font-headings);
  color: #fff;
}
/* -------------------- // HOME ABOUT SECTION// --------------------------- */
#theme-overview,
#conclusion {
  max-width: 80%;
  margin: auto;
}

#about-me-article {
  background: linear-gradient(100deg, var(--color-accent1), var(--color-neutral2));
}
#about-section article {
  max-width: 100%;
  padding: 1rem 2rem;
  margin: 2rem auto 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}
#about-me-fig {
  max-width: 20rem;
  aspect-ratio: 1/1;
  place-self: center;
}
.clear-caption {
  display: inline-block;
  position: relative;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
  font: bold 1rem var(--font-headings);
  color: var(--color-primary1);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.37);
  border-radius: 3px;
}

#about-me-text {
  display: flex;
  flex-direction: column;
  /*   justify-content: space-around;
 */
  gap: 2rem;
}

.cta-btn {
  padding: 0.5rem 1rem;
  color: var(--color-secondary1);
  background: linear-gradient(135deg, var(--color-accent1), var(--color-secondary2));
  font-family: var(--font-headings);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 8px 0 #0000005e;
  border-radius: 3px;
}
.cta-btn:hover {
  background: linear-gradient(135deg, var(--color-primary2), var(--color-secondary1));
}
#about-me-text .cta-btn {
  width: 7rem;
}

/* -------------------- // HOME SKILLS SECTION// --------------------------- */
#skills-section h2 {
  text-align: center;
  margin: 4rem;
}
#skills-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  flex: 0 1 4rem;
  margin: 4rem auto;
  column-gap: 3rem;
  row-gap: 1rem;
  justify-content: space-around;
}

.icon {
  max-width: 4rem;
}
/* -------------------- // HOME PROJECTS SECTION// --------------------------- */
#projects {
  max-height: fit-content;
  padding: 2rem auto;
  background: var(--color-gradient);
  text-align: center;
  margin-bottom: 2rem;
}

#projects-list h2 {
  margin-bottom: 3rem;
}

#projects-list {
  position: relative;
  justify-content: center;
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, max-content));
}

#projects-list figure:first-child {
  margin-top: 2rem;
}

.projects-information {
  margin: -2rem auto;
  max-width: 20rem;
  aspect-ratio: 1/0.8;
  border: 1px solid var(--color-secondary1);
  background-color: rgba(228, 225, 225, 0.477);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transform: rotate(-15deg);
  text-align: center;
  border-radius: 8px;
}
.project-img {
  max-width: 100%;
  border-radius: 3px;
  padding: 0.5rem;
}
.projects-information .cta-btn {
  margin-top: 1rem;
  display: inline-block;
}
/* -------------------- //FOOTER SECTION// --------------------- */
footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary2);
  max-height: 5rem;
  padding: 1rem 2rem;
  justify-content: space-around;
  align-items: center;
  /*   bottom: 0;
 */
  width: 100%;
}

#icons-footer-container {
  display: flex;
  gap: 2rem;
}

/* ------------------------------- // PROJECTS LIST PAGE// ---------------------- */
#projects-page {
  text-align: center;
}
.project-page-info {
  margin: 2rem;
}
#project-detail-container {
  position: absolute;
  max-width: 100%;
  padding: 0.5rem;
  aspect-ratio: 1/0.8;
  top: 0;
  display: none;
  z-index: 1;
  border: 1px solid var(--color-secondary1);
  background: var(--color-neutral2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 #0000005e;
  border-radius: 3px;
  text-align: left;
}

.project-name-style {
  color: var(--color-primary1);
  font-weight: bold;
  margin: 0.5rem 0.8rem;
}
.project-description {
  color: var(--color-neutral1);
  font: bold 0.9rem var(--font-copy-text);
}
.projects-information.project-page-info {
  position: relative;
  transform: rotate(0);
  margin-top: 1rem;
}

.project-page-info:hover #project-detail-container {
  display: block;
}

.btn-projects-page {
  margin: 0.6rem;
  border: none;
}
/* ------------------------------- // SINGLE PROJECT POP-UP LIST PAGE// ---------------------- */

#project-main {
  position: relative;
  min-height: 150vh;
}
.close {
  visibility: hidden;
}
#close-popup {
  font: bold 3rem var(--font-headings);
  position: absolute;
  top: -2.5rem;
  right: 1rem;
  color: var(--color-accent2);
}
#single-project {
  display: none;
  position: absolute;
  top: 1rem;
}

#single-project.open {
  display: block;
}
#single-project h2,
#single-project h3 {
  text-align: center;
}
#single-project > div {
  max-width: 80%;
  margin: auto;
}

#single-project h3 {
  margin-bottom: 2rem;
  color: var(--color-primary1);
}
#single-project img:not(#project-mockup) {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.369);
}

/* --------------------- // Media Queries// --------------------------- */

/* small tablet styles */
@media screen and (min-width: 620px) {
  .karinaSVG {
    background-size: contain;
    max-width: 30%;
    aspect-ratio: 1/1;
  }
  .skills {
    font: bold 1.2rem var(--font-headings);
    top: -10rem;
  }
  #burgerMenu {
    display: none;
  }
  nav {
    margin: 1%;
    max-width: 100%;
  }
  nav li {
    flex: 0 1 20%;
    text-align: center;
  }
  #navigation {
    position: relative;
    right: auto;
    top: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    background: none;
  }
  #navigation a {
    color: var(--color-secondary1);
  }
  #navigation a:hover {
    color: var(--color-accent2);
    background-color: var(--color-neutral2);
  }
  #karina_title {
    width: 300px;
  }
  #name,
  #last-name {
    font: bold calc(2rem + 5px) / calc(2rem + 5px) var(--font-headings);
  }
  #last-name {
    padding-left: 5.5rem;
    margin-top: -2rem;
  }
  #letter-a {
    color: #fff;
    font-size: 7rem;
  }

  /* --------- // About Section// ----------------- */

  #theme-overview {
    max-width: 80%;
    margin: auto;
  }
  #about-section article {
    padding: 4rem;
  }

  /* --------- // Projects Section// ----------------- */
  #projects {
    max-height: fit-content;
  }
  #projects-list {
    margin-top: 4rem;

    margin-bottom: 3rem;
  }
  #projects-information-page {
    margin: 0 auto;
    max-width: 20rem;
    aspect-ratio: 1/0.8;
  }

  /* --------- // Single Project Section// ----------------- */

  #single-project > div:not(#mockup-div) {
    display: flex;
    max-width: 80%;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  #single-project img:not(#project-mockup) {
    max-width: 60%;
  }

  footer .logo {
    margin-right: 55vw;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 881px) {
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* destop styles */
@media screen and (min-width: 1200px) {
}
